#upper-out {
	background-color:#093;
	width:100%;
	height:160px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/plaid.png);
	background-size:contain;
	background-repeat:repeat-x;
}
#upper-in {
	width:1030px;
	height:160px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#middle {
	width:1030px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#lower-out {
	border-top:6px solid #CCC;
	width:100%;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	float:left;
}
#lower-in {	
	width:1030px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#mark {
	float:left;
	background-color:#CCC;
	width:230px;
	height:100px;
	cursor:pointer;
}

#video-form{
	float:right;
	position:relative;
	padding:10px;
}
.video-btn {
	width:180px;
	height:40px;
	background-image:url(images/plaid-btn.PNG);
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	cursor:pointer;
}
#block-1 {
	float:left;
	height:100px;
	width:790px;
}
#block-2 {
	float:left;
	height:100px;
	width:240px;
}
#block-3 {
	float:left;
	height:60px;
	width:1030px;
}


	#search-form{
		float:right;
		position:relative;
		padding:10px;
	}
	.search-txt{
		margin: 0;
		padding: 6px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.search-btn {
		margin: 0;
		padding: 0;
		width:30px;
		height:30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		background: url('images/search_icon.png');
		background-size:contain;
	}
	/* Fixes submit button height problem in Firefox */
	.search-btn::-moz-focus-inner {
	  	border: 0;
	}
	.tfclear{
		clear:both;
	}

#login-form {
	float:right;
	margin-right:5px;
}
.login-txt {
	margin: 0;
	padding: 4px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#AAA;
	border:1px solid #0076a3;
	border-radius: 5px 5px;
}
.login-btn {
	border-radius: 5px 5px;
}



#menu {
  border: none;
  border: 0px;
  margin-top: 25px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#menu ul {
  background: #333333;
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  float: left;
  padding: 0px;
}
#menu li a {
  background: #333333 url('drop_down/seperator.gif') bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#menu > ul > li > a {
  color: #cccccc;
}
#menu ul ul a {
  color: #cccccc;
}
#menu li > a:hover,
#menu ul li:hover > a {
  background: #2580a2 url('drop_down/hover.png') bottom center no-repeat;
  color: #EEEEEE;
  text-decoration: none;
}
#menu li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#menu li:hover ul {
  display: block;
}
#menu li li {
  background: url('drop_down/sub_sep.gif') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#menu li:hover li a {
  background: none;
}
#menu li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#menu li ul a:hover,
#menu li ul li:hover > a {
  background: #2580a2 url('drop_down/hover_sub.png') center left no-repeat;
  border: 0px;
  color: #EEEEEE;
  text-decoration: none;
}
#menu p {
  clear: left;
}



#slide-show{width:1030px; height:400px; margin:auto; position:relative;}
#allking{width:930px;height:400px; margin:auto; overflow:hidden; float:left}
#kingL{width:50px; height:400px; margin:auto; float:left}
#kingR{width:50px; height:400px; margin:auto; float:right}
#ad-frame{width:2790px; height:400px; margin:auto; overflow:hidden; float:left; position:relative; left:0px}
#sub1{width:930px; height:400; float:left}
#sub2{width:930px; height:400; float:left}
#sub3{width:930px; height:400; float:left}
#picR{position:relative; top:180px; left:10px;}
#picL{position:relative; top:180px;}

#middle-left {width:750px; height:auto; position:relative; float:left}
#middle-right {width:280px; height:auto; position:relative; float:left}
h1.news-title {font-family:"Arial Black", Gadget, sans-serif; font-size:48px; position:relative; left:130px; top:-30px}
#news-title-icon {width:500px; height:70px; position:absolute; left:50px; top:0px; z-index:-1; opacity:0.5;}

div.news-item{width:625px; height:50px; position:relative; left:50px; cursor:pointer; margin-bottom:10px; top:-30px;}
img.item-icon{height:50px; width:50px; background-size:contain; position:absolute; z-index:-1;}
h3.item-title{position:relative; left:60px; width:450px}
p.item-sub{position:relative; left:60px; top:-20px; width:450px}
p.item-comment{position:relative; left:530px; top:-75px; width:90px}

#middle-lower{width:1030px; height:auto; margin:auto; position:relative;}

img.ad-cube{width:250px; height:100px; position:relative; margin-top:10px; margin-bottom:5px; cursor:pointer}

p.footer-txt{position:absolute}